<header th:include="@{/commons/header.html}"></header>

	<div class="container-contact100" th:each="mypage : ${mypage}">
		<div class="wrap-contact100">
			<form action="/member/mypageupdate" class="contact100-form validate-form" method="post">
				<span class="contact100-form-title">회원 정보</span>

				<div class="wrap-input100 validate-input" data-validate="Message is required">
					<span class="label-input100">Id</span>
						<input class="input100" name="memberId" th:value="${mypage.memberId}" readonly=readonly />
					<span class="focus-input100"></span>
				</div>
			
				<div class="wrap-input100 validate-input" data-validate="Valid password is required">
					<span class="label-input100">Password</span> 
						<input class="input100" type="password" name="passwd"> 
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Your Name</span> 
						<input class="input100" type="text" name="name" th:value="${mypage.name}" readonly=readonly> 
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email</span> 
						<input class="input100" type="text" name="email" th:value="${mypage.email}"> 
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input" data-validate="Valid phone is required: ex@abc.xyz">
					<span class="label-input100">Phone</span> 
						<input class="input100" type="text" name="phone" th:value="${mypage.phone}"/> 
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input"
					data-validate="Valid email is required: ex@abc.xyz">
					<span class="label-input100">Subscription</span> <br>
						<input class="input10" type="checkbox" name="subsqDiv" th:value=Tool id="Tool">Tool
						<input class="input10" type="checkbox" name="subsqDiv" th:value=DarkBeer id="DarkBeer">DarkBeer
						<input class="input10" type="checkbox" name="subsqDiv" th:value=RedBeer id="RedBeer">RedBeer
						<input class="input10" type="checkbox" name="subsqDiv" th:value=BlackBeer id="BlackBeer">BlackBeer
					<span class="focus-input100"></span>
				</div>

				<div>
					<div class="buttons">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" class="btn col-sm-5" value="수정완료"/> 
						&nbsp;&nbsp;
						<input type="button" onclick="location.href='/member/mypagelist'" class="btn col-sm-5" value="돌아가기" />
					</div>
				</div>
			</form>
		</div>
	</div>
	
<script src="//code.jquery.com/jquery.min.js"></script>

<script>
<!-- $("#Tool").click(function() {
	alert("Tool을 구독하시겠습니까?");
});
$("#DarkBeer").click(function() {
	alert("DarkBeer를 구독하시겠습니까?");
});
$("#RedBeer").click(function() {
	alert("RedBeer를 구독하시겠습니까?");
});
$("#BlackBeer").click(function() {
	alert("BlackBeer를 구독하시겠습니까?"); -->

 (function($)){
	var $from = $('#Tool');
	$form.on('submit', function(e)) {
		e.preventDefault();
	    $.ajax({
	      url: $form.attr('action'),
	      type: 'post',
	      data: $form.serialize(),
	      success: function(response) {
	        // if the response contains any errors, replace the form
	        if ($(response).find('.has-error').length) {
	          $form.replaceWith(response);
	        } else {
	          // in this case we can actually replace the form
	          // with the response as well, unless we want to 
	          // show the success message a different way
	        }
	}
} 
</script>

<footer th:include="@{/commons/footer.html}"></footer>