<header th:include="@{/commons/header.html}"></header>

	<div class="container-contact100" th:each="mypage : ${mypage}">
		<div class="wrap-contact100">
			<form action="/member/mypageupdate" class="contact100-form validate-form" method="post">
				<span class="contact100-form-title">회원 정보</span>

				<div class="wrap-input100 validate-input" data-validate="Message is required">
					<span class="label-input100">Id</span>
						<input class="input100" name="memberId" th:value="${mypage.memberId}" readonly=readonly />
					<span class="focus-input100"></span>
				</div>
			
				<div class="wrap-input100 validate-input" data-validate="Valid password is required">
					<span class="label-input100">Password</span> 
						<input class="input100" type="password" name="passwd"> 
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Your Name</span> 
						<input class="input100" type="text" name="name" th:value="${mypage.name}" readonly=readonly> 
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email</span> 
						<input class="input100" type="text" name="email" th:value="${mypage.email}"> 
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input" data-validate="Valid phone is required: ex@abc.xyz">
					<span class="label-input100">Phone</span> 
						<input class="input100" type="text" name="phone" th:value="${mypage.phone}"/> 
					<span class="focus-input100"></span>
				</div>

				<div>
					<div class="buttons">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" class="btn col-sm-5" value="수정완료"/> 
						&nbsp;&nbsp;
						<input type="button" onclick="location.href='/member/mypagelist'" class="btn col-sm-5" value="돌아가기" />
					</div>
				</div>
			</form>
		</div>
	</div>

<footer th:include="@{/commons/footer.html}"></footer>